*{
  box-sizing: border-box;
}
:root{
--green: #D0F0C0;
--brown: #674846;
--river: #20B2AA;
--nav-height: 4.19rem;
}
body{
  margin: 0;
  font-family: system-ui;
background-color: var(--brown);
  color: white;
}

main{
  margin-top: 0;
}

#navbar{
width: 100dvw;
height: var(--nav-height);
margin: 0;
background-color: #20B2AA;
position: fixed;
top: 0;
left: 0;
right: 0;
 z-index: 2;
}
.nav-details li{
  list-style: none;
}
li a{
text-decoration: none;
color:white;
font-size: 1.4rem;
font-weight: 600;
font-style: oblique 12deg;
padding: 20px;
}

.nav-details{
  display: flex;
  gap: 30px;
  justify-content: flex-end;
padding: 5px;
transition: background-color 200ms;
}
.nav-details li  a:hover{
background-color:  lightblue;
 height: var(--nav-height);
}
#welcome-section{
display: grid;
  width: 100vw;
  height: 100vh;
grid-template-rows: 1fr 2fr 1fr;
place-items: center;
}
#About{
  height: 100vh;
  width: 100vw;
  margin-top: 0;
  display: flex;
flex-direction: column;
  justify-content: center;
  align-items: center;
}
#About h1{
  font-size: 3.5rem;
  margin-bottom: 0;
}
#About p{
  font-size: 1.5rem;
  color:lightblue;
  margin-top: 0;
}

#projects{
 height: 200dvh;
  width: 100dvw;
   padding-block: 0;
   background-color: var(--green);
   display: flex;
  flex-direction: column;
   gap: 10px;
   position: relative;
  
}
#projects h2{
color:#40826D;
margin-inline: auto;
font-size: 2.3rem;
margin-bottom:0;
padding-bottom: 0;
text-shadow: 1px 1px 1px white;
}
.projects-title{
  display: flex;
flex-direction: column;
justify-content: center;
  align-items: center;
  margin-block: 3rem;
}
.line{
  width: 34.37rem;
  background-color: #674846;
  height: 2px;
}
.projects-details{
  height: 85%;
  width: 100%;
  padding-inline: 100px;
  padding-bottom: 50px;
  display: grid; 
  grid-template-columns:repeat(6, minmax(0, 1fr));
  grid-template-rows: repeat(10, minmax(0, 1fr));
place-items: center;
 row-gap: 40px;
 column-gap: 20px;
}

.part {
  height: 100%;
  width: 100%; 
  margin: 0;
  opacity: 0.85;
  transition: opacity 200ms, translate 200ms;
}
.project-title{
  display: flex;
  flex-direction: column;
  gap: 0;
  height: 100%;
  width: 100%;
  text-decoration: none;
  box-shadow: 10px 20px 20px 12px rgba(0 0 0 / 30%);
}

img{
  height: 90%;
  max-width: 100%;
}

.part:hover{
  cursor: pointer;
  opacity: 1;
}
.part:active{
  translate: 1px 2px;
}

.part h3{
  color: white;
 margin: 0;
  padding-block: 2px;
  text-align: center;
  font-size: 1.2rem; 
background-color:var(--river);
}

.button{
height: 10%;
margin-inline: auto;

}
.show-all{
background-color:var(--river);
color: white;
font-size: 1.2rem;
font-weight: 600;
border: none;
padding: 10px 25px;
border-radius: 12px;
transition: translate 200ms;
}
.show-all:hover{
background-color:#007A74;
  color: white;
}
.show-all:active{
  translate: 1px 2px;
}
#contact{
  height: 100vh;
  width: 100vw;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.work-details{
  text-align: center;
  margin-top: var(--nav-height);
}
#contact h2{
  font-size: 3.5rem;
  margin-bottom: 0;
}
#contact h4{
  font-size: 1.2rem;
  color: lightblue;
  margin-top: 10px;
}
.logos{ 
  width: 95%;
  height: 200%;
  padding:0;
  margin: 40px;
}
.logo{
  display: flex;
justify-content: space-evenly;
align-items: center;
padding: 0;
margin:0;

}
.logo li {
  list-style: none;
margin-inline: auto; 
margin-top: 10px;
transition: translate 200ms;
}
.logo li:hover{
translate: 0px 5px;

}

.fa{
display: inline-block;
}
.link{
  padding: 0px;
  display: flex; justify-content: center;
  gap: 10px;
}
.link p{
  font-size: 1.3rem;
  margin-top: 10px;
}

.border-line{
 width: auto;
  background-color: var(--river);
  height: 3px;
  border: none;
}
.footer-details{
  width: 100%;
  margin-block: 20px;
padding-inline: 20px;
display: flex;
justify-content: space-between;
align-items: center;
}

.copyright{
color: white;
}

@media(max-width: 37.5rem){
  .nav-details li a{
    text-decoration: none;
    color:white;
    font-size: 1rem;
    padding: 8px;
    }
    #navbar{
      width: auto;
    }
.logo{
  flex-direction: column;
  gap:5px;
  padding: 3px;
}
.projects-details{
grid-template-columns: 1fr;
  gap: 20px;
  place-items: center;
  margin: 0;
  padding: 0;
 
}
.part{
  width: 60dvw;
  height: 30dvh;
  height: fit-content;
  padding-inline: 0;
}
#welcome-section{
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 8fr 1fr;
}
#projects,
#contact{
  height: auto;
  width: auto;
  padding-bottom: 30px;
  padding-top: 0;
}
.work-details,
.footer-details,
.my-projects-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 80dvw;
  padding-bottom: 10px;
  padding-top: 0;
  margin-top: 0;
}


}

